doctype
html(lang='en')
  head
    title RPG
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(name='description', content='')
    meta(name='author', content='Joel Dies')
    link(href='/assets/css/lib/font-awesome.css', rel='stylesheet')
    link(href='/assets/css/base.css', rel='stylesheet')
    link(href='/assets/css/ui.css', rel='stylesheet')
    block styles
  body
    block content
    script(src='/socket.io/socket.io.js')
    script(src='/assets/js/lib/jquery-2.1.0.min.js')
    script(src='/assets/js/lib/isIE.js')
    block scripts