extend ../templates/default
block styles
block content
block scripts
  //script(src="/assets/js/lib/expose.js")
  script(src="/assets/js/lib/querystring.js")
  script(src="/assets/js/lib/tween.js")
  script(src="/assets/js/lib/buzz.min.js")
  script(src="/assets/js/lib/pixi.dev.js")
  script(src="/assets/js/lib/rpg.dev.js")
  script(src="/assets/js/all.js")
  script(src="/assets/js/game.js")