extend ../templates/default
block title
  title Game Name
block styles
block content
block scripts
  script(src="/assets/js/lib/tween.js")
  script(src="/assets/js/lib/buzz.min.js")
  script(src="/assets/js/lib/pixi.dev.js")
  script(src="/assets/js/lib/rpg.dev.js")
  script(src="/assets/js/game.js")